.infotext {
    color: #FFFFFF;
    text-align: center;
}

.card {
    margin-left: auto;
    margin-right: auto;
    color: white;

    -webkit-box-shadow:0 0 20px blue;
    -moz-box-shadow: 0 0 20px blue;
    box-shadow:0 0 20px blue;

    font-size: 13px;
    line-height: 20px;

}